<div>
  <div class="nomeLugar tituloLugar"><%= @lugar.nome %></div>
  <div class="descricaoLugar">
    <%= @lugar.descricao %>
  </div>


  <div class="imagens">
    <ul>
    <% @lugar.pictures.each do |pic| %>
      <li>
        <%= link_to(image_tag(pic.url, width: 720, height: 480, class: ""), pic.url, target: :_blank )%>
      </li>
    <% end %>
    </ul>
  </div>
  <div class="mapa">
    <%= render 'map', endereco: "#{@lugar.endereco}, #{@lugar.cidade}, #{@lugar.estado}" %>
  </div>
  <% if logged_in? %>
    <div>
      <%= render 'comentarios/comentarios_form' %>
    </div>
  <% else %>
    <div class="logarComentarios row">
      <div class="col-md-8 col-md-offset-2">
      <%= link_to "Você precisa estar logado", login_path %> para postar comentários
      </div>
    </div>

  <% end %>
  <div class="container">
    <% @lugar.comentarios.each do |comentario| %>
      <div class="comentario">
        <div class="donoComentario">
          <%= comentario.pessoa.nome %>
        </div>
        <div class="idadeComentario">
          Posted <%= time_ago_in_words(comentario.created_at) %> ago.
        </div>
        <div class="textoComentario">
          <%= comentario.texto%>
        </div>
        <% if comentario.nota? %>
          <div>
            Nota: <%= comentario.nota %>
          </div>
        <% end %>
        <% if @lugar.pessoa.id == id_logado %>
          <%= link_to "Apagar", comentario_path(comentario.id), method: :delete %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

