<div style="overflow: auto">
  <div class="nomeLugar tituloLugar"><%= @lugar.nome %></div>
  <div class="descricaoLugar">
    <%= @lugar.descricao %>
  </div>

  <div style="float:left">
    <%#= carousel_for(@lugar.pictures) %>
    <% @lugar.pictures.each do |pic| %>
     <%= image_tag(pic.url, width: 800, height: 520) %>
    <% end %>
  </div>
  <div style="float:right">
    <%= render 'map', endereco: @lugar.endereco %>
  </div>
  <div>
    <%= render 'comentarios/comentarios_form' %>
  </div>
</div>

