<div class="tituloPessoa">
  <%= @pessoa.nome %>
  <br>
  <%= @pessoa.email %>
</div>

<%= link_to 'Editar', edit_pessoa_path(@pessoa), class: 'btn btn-primary' %>

<div class="lugaresPerfilPessoa">
  Lugares Cadastrados
</div>

<div class="row">
  <% @pessoa.lugares.each do |lugar|  %>
    <div class="col-md-12 lugarNaLista">
      <% if lugar.pictures? %>
        <div class="col-md-3 img-fluid">
          <%= link_to(image_tag(lugar.pictures[0].url, width: 400, height: 260, class: "img-responsive"), lugar_path(lugar.id)) %>
        </div>
      <% end %>

      <div class="col-md-9 nomeLugar">
        <%= lugar.nome %>
      </div>
      <div class="col-md-8 enderecoLugar">
        <%= " #{lugar.endereco}, #{lugar.cidade}, #{lugar.estado}" %>
        <br>
        <%= lugar.tipo %>
        <br>
        <%= link_to "Editar", edit_lugar_path(lugar.id) %>
      </div>
    </div>
  <% end %>
</div>


